header-directive
.punchline
    .text-container
        h1 
            span.highlight-text We 
            span.highlight-text are 
            span.highlight-text in 
            span.highlight-text a 
            span.highlight-text constant 
            span.highlight-text state 
            span.highlight-text of 
            span.highlight-text evolution 
            span.highlight-text - 
            span.highlight-text a 
            span.highlight-text shift 
        p There is a common thread at AHOY – we a re all big kids at heart – we g rew up with a to mak e su re that ever ything we do is done well. What has changed is our focus on
section.team-section
    .team
        h1 Our team
        .member.block(ng-repeat="member in team", style="{{member.background}}")
            p {{member.image}}
footer-directive
