header-directive
section.contacts
    h4.title Let's be friends
    form
        span.left-input
            p Name
            input(type="text" ng-model="data.name")
            p Address
            input(type="text" ng-model="data.address")
            
        span.right-input
            p Message
            textarea(ng-model="data.message")
            a(href="{{mailtoHref()}}") Enviar
section.where
    img.marker(src="/img/cookiecolor.png")
footer-directive
