header
    a.branding(ng-href="#home")
    .burguer
        a.menu-button(ng-click="toggleMenu()", ng-class="{white: data.menuActive, cross: data.menuActive}")
            span
section.header-menu(ng-class="{show: data.menuActive, hide: !data.menuActive}")
    a.close
    span.options
        a(ng-href="#about")
            h2 ABOUT
        a(ng-href="#works")
            h2 PORTFOLIO
        a(ng-href="#contact")
            h2 CONTACT
