doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title Bitten Cookie
        link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Libre+Baskerville', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.min.css')
    body.preload(ng-app='sos-shake')
        ui-view
        script(src='js/main.js')
        script(src='js/templates.js')
