span(ng-controller="LoginController")
    section.login-box
        input(type="text", ng-model="data.username",placeholder="email")
        input(type="password" ng-model="data.password", placeholder="password")
        button.btn-login(type="button", ng-click="login()") enter
        span.bar#bar1
        span.bar#bar2
        span.bar#bar3
        span.bar#bar4
        span.bar#bar5
        span.bar#bar6
        span.bar#bar7
        span.bar#bar8
        span.bar#bar9
        span.bar#bar10
        span.bar#bar11
        span.bar#bar12
        span.bar#bar13
        span.bar#bar14
        span.bar#bar15
        span.bar#bar16
        span.bar#bar17
        span.bar#bar18
        span.bar#bar19
        span.bar#bar20

    h1.title SOS SHAKE
