header-directive
//section.work-carrousel
    .carrousel
        div(ng-repeat="image in work.pictures")
            img(ng-src="{{image}}")
section.work-info
    aside 
        span(ng-bind="work.logo")
        br
        | Mais info
    article(ng-bind-html="work.info")
section.more-works
    h1 More Works
    .works-list
        .work-block(ng-repeat="(key, work) in works", ng-click="goToWork(key)")
            div.work-image(style="{{work.background}}")
footer-directive
