$bar-width: 1/20 * 100%;
$bar-z-index: 0;
$bar-max-height: 25px;
$bar-background-color: #EEE;
$bar-animation-duration: 0.5s;
$login-box-z-index: 2;
$login-box-background-color: #585858;
$title-color: $login-box-background-color;
$title-font-size: 5em;

.login-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0,-50%);

    background-color: $login-box-background-color;
    max-width: 400px;
    padding: 50px 50px 25px 50px;

    .btn-login {
        float: right;
        @include button;
    }

    //animation-duration: 2s;
    //animation-name: slidein;

    z-index: $login-box-z-index;
}

@keyframes slidein {
  from {
      top: 100%;
  }

  to {
      top: 50%;
  }
}

.title {
    position: absolute;
    bottom: 0;
    color: $title-color;
    font-size: $title-font-size;

    @include media(min-width 320px max-width 480px) {
       @include span-columns(6);
     }
}



@keyframes barAnimation {
  from {
      height: 0;
  }

  to {
      height: $bar-max-height;
  }
}

@mixin bar {
    position: absolute;
    top: 0;
    height: 0px;
    width: $bar-width;
    background-color: $bar-background-color;
    animation-name: barAnimation;
    animation-duration: $bar-animation-duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

    z-index: $bar-z-index;
}

#bar1 {
    @include bar;
    animation-delay: 0;
    left: 0;
}

#bar2 {
    @include bar;
    animation-delay: 0.1s;
    left: $bar-width * 1;
}

#bar3 {
    @include bar;
    animation-delay: 0.2s;
    left: $bar-width * 2;
}
#bar4 {
    @include bar;
    animation-delay: 0.3s;
    left: $bar-width * 3;
}
#bar5 {
    @include bar;
    animation-delay: 0.4s;
    left: $bar-width * 4;
}
#bar6 {
    @include bar;
    animation-delay: 0.5s;
    left: $bar-width * 5;
}
#bar7 {
    @include bar;
    animation-delay: 0.6s;
    left: $bar-width * 6;
}
#bar8 {
    @include bar;
    animation-delay: 0.7s;
    left: $bar-width * 7;
}
#bar9 {
    @include bar;
    animation-delay: 0.8s;
    left: $bar-width * 8;
}
#bar10 {
    @include bar;
    animation-delay: 0.9s;
    left: $bar-width * 9;
}
#bar11 {
    @include bar;
    animation-delay: 1.0s;
    left: $bar-width * 10;
}
#bar12 {
    @include bar;
    animation-delay: 1.1s;
    left: $bar-width * 11;
}

#bar13 {
    @include bar;
    animation-delay: 1.2s;
    left: $bar-width * 12;
}

#bar14 {
    @include bar;
    animation-delay: 1.3s;
    left: $bar-width * 13;
}

#bar15 {
    @include bar;
    animation-delay: 1.4s;
    left: $bar-width * 14;
}

#bar16 {
    @include bar;
    animation-delay: 1.5s;
    left: $bar-width * 15;
}

#bar17 {
    @include bar;
    animation-delay: 1.6s;
    left: $bar-width * 16;
}

#bar18 {
    @include bar;
    animation-delay: 1.7s;
    left: $bar-width * 17;
}

#bar19 {
    @include bar;
    animation-delay: 1.8s;
    left: $bar-width * 18;
}

#bar20 {
    @include bar;
    animation-delay: 1.9s;
    left: $bar-width * 19;
}
