@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$body-background-color: #FFF;
$bitten-cookie-yellow: #ead724;
$bitten-cookie-lighter-yellow: lighten($bitten-cookie-yellow, 10%);
$font-family: 'Lato', sans-serif;
$title-font-family: 'Libre Baskerville', serif;


@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


@import "header";
@import "footer";
@import "splash";
@import "about";
@import "contacts";
@import "works";
@import "work";

html {
    height: 100%;
}

body {
    background-color: $body-background-color;
    font-family: $font-family;
    height: 100%;
}

h2 {
    font-family: $title-font-family;
}

.show {
    display: block;
}

.hide {
    display: none;
}
